<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlv.admin.mapper.UserMapper">
    <select id="list" resultType="UserVo">
        select u.* ,r.id as roleId, r.name as roleName from sp_user u left JOIN sp_user_role ur on ur.user_id=u.id left JOIN  sp_role r on   ur.role_id=r.id
        <where>
            <if test="username">
                and u.username=#{username}
            </if>
            <if test="roleId">
                and r.id=#{roleId}
            </if>

        </where>

    </select>
    <select id="findById" resultType="User">
        select * from sp_user where id=#{id}
    </select>
    <select id="findByName" resultType="User">
        select * from sp_user where username=#{username}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sp_user (username,password,email,phone,nick_name,avator,address,create_time)
        values (#{username},#{password},#{email}, #{phone},#{nickName},#{avator}, #{address}, #{createTime})
    </insert>
    <insert id="insertByMap" useGeneratedKeys="true" keyProperty="id">
        insert into sp_user (username,password,email,phone,nick_name,avator,address,create_time)
        values (#{username},#{password},#{email}, #{phone},#{nickName},#{avator}, #{address}, #{createTime})
    </insert>
    <delete id="del" parameterType="int">
        delete from sp_user where id=#{id}
    </delete>
</mapper>